<style>
	body {
		width:277px;
		color:#000; font:12px/20px Helvetica,arial,sans-serif;
		padding: 3px;
		margin: 0;
	}

	ul { padding:0;margin:0; }
	ul li{ list-style:none; height:20px;margin-bottom: 7px;}
	ul li:last-child{margin-bottom: 4px;}

	ul li a {
		color:#303030; text-decoration:none;
		display: block;
		border-radius: 4px;
		padding: 2px 8px;
		-webkit-transition:all ease-in .25s;

	}
	ul li a:hover {
		background-color: #eceff5;
		color: #000;
		cursor:pointer;
	}
	hr{
		border: 1px dashed #c1c1c1;
	}
</style>
<ul>
	<li>
		<a id="calibrate">Calibrate</a>
	</li>
</ul>
<script type="text/javascript" src="../js/options.js"></script>