<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="/libs/angular.min.js"></script>
	<script src= "http://player.twitch.tv/js/embed/v1.js"></script>
	<title>Destiny Live Stats - Demo</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link href="/css/screen.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="test-app" ng-controller="MainCtrl">

	<div class="tabs">
		<label ng-class="{'active': selections.view=='image'}"><input type="radio" ng-model="selections.view" value="image" /> Screenshot</label>
		<label ng-class="{'active': selections.view=='video'}"><input type="radio" ng-model="selections.view" value="video" /> Archived Video</label>
		<label ng-class="{'active': selections.view=='twitch'}"><input type="radio" ng-model="selections.view" value="twitch" /> Twitch Stream</label>
	</div>

	<div class="stream-wrapper grid">
		<div class="stream-container">
			<div class="community-details flex">
				<div class="title">Development Stream
					<div class="community-description">
						<span>
							<a href="https://bungie.net/en/Profile/2/4611686018428939884">lowlines</a> playing Development
						</span>
					</div>
				</div>
				<div class="stream-details-right flex flex-wrap">
					<div class="viewers">1 viewers</div>
				</div>
			</div>

			<div class="view" ng-if="selections.view == 'image'">
				<label>
					<select ng-model="selections.imageIndex" as-number ng-options="images.indexOf(image) as image.name for image in images"></select>
				</label>
				<img id="capture-image" ng-src="{{selectedImage.src}}" data-activity="{{selectedImage.activityData}}" />
			</div>
			<div class="view" ng-if="selections.view == 'video'">
				<label>
					<select ng-model="selections.videoIndex" as-number ng-options="videos.indexOf(video) as video.name for video in videos"></select>
				</label>
				<video id="capture-video" ng-src="{{selectedVideo.src}}" data-activity="{{selectedVideo.activityData}}" autoplay controls></video>
			</div>
			<div class="view" ng-if="selections.view == 'twitch'">
				<div id="twitch-player"></div>
				<script type="text/javascript">
					var options = {
						width: 854,
						height: 480,
						channel: "lowlines",
						//channel: "luckyy_and_bw",
						//video: "{VIDEO_ID}"
					};
					var player = new Twitch.Player("twitch-player", options);
					//player.setVolume(0.5);
				</script>
			</div>
		</div>

		<div class="stream-chat-gear-container" data-mode="stats">
			<div class="switcher">

			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>